SUPABASE_URL=https://rqwcxliqgzegamqcrjyg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxd2N4bGlxZ3plZ2FtcWNyanlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1OTcyMjYsImV4cCI6MjEwNTE3MzIyNn0.ZnE6d2MAwhQ3-JJg8Wyal3fiYhqZyCsHPQ92Iqbrm5w
CORS_ORIGINS=http://localhost:5173
